html{
    overflow: hidden;
}

html,body{
    min-height: 100%;
}

body{
    position: relative;
    height: 100%;
    background-color: #332123;
}

.header{
    display: flex;
    align-items: center;
}

.header .text{
    width: 800px;
}

.header .text #name span{
    color: #FDFAF3;
    font-size: 120px;
    font-family: montserrat-regular;
}

.header .text .description{
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.header .text .description span{
    color: #FDFAF3;
    font-size: 20px;
    font-family: open-sans;
}

.header .navigation-bar{
    display: flex;
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.header .navigation-bar div{
    width: 250px;
    height: 75px;
    border-radius: 25px;
    background-color: #A29676;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.header .navigation-bar div span{
    line-height: 75px; 
    vertical-align: middle;
    font-family: montserrat-regular;
    font-size: 20px;
}

.sections{
    margin: 0px;
}

.sections .projects{
    border: solid 1px white;
    height: 100px;
}

.sections .experience{
    border: solid 1px white;
    height: 100px;
}

.sections .education{
    border: solid 1px white;
    height: 100px;
}

.sections .contact{
    border: solid 1px white;
    height: 100px;
}

@font-face {
    font-family: league-spartan;
    src: url(/Resources/Fonts/LeagueSpartan-Bold.otf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(/Resources/Fonts/Montserrat-Bold.ttf);
}


@font-face {
    font-family: montserrat-thin;
    src: url(/Resources/Fonts/Montserrat-Thin.otf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(/Resources/Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(/Resources/Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: fira-code;
    src: url(/Resources/Fonts/FiraCode-VF.ttf);
}