html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

html,body{
    min-height: 100%;
}

body{
    position: relative;
    height: 100%;
    background-color: #332123;
    animation: opacity_increase 0.7s;
}

span{
    pointer-events: none;
}

.header .text{
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.header .text #name{
    animation: left_to_right 0.7s;
}

.header .text #name span{
    color: #FDFAF3;
    font-size: 5.6vw;
    font-family: fira-code;
}

.header .navigation-bar{
    display: flex;
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.header .navigation-bar div{
    width: 250px;
    height: 75px;
    border-radius: 25px;
    background-color: #A29676;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transform: translateY(5px);
    transition: transform 0.5s;
    animation: left_to_right 0.7s;
}

.header .navigation-bar div span{
    line-height: 75px; 
    vertical-align: middle;
    font-family: montserrat-regular;
    font-size: 20px;
}

.header .mini-navigation-bar{
    display: flex;
    position: fixed;
    align-items: center;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 75px;
    width: 600px;
    background-color: #31373D;
    border-radius: 25px;
    z-index: 999;
    margin-top: 10px;
}

.header .mini-navigation-bar div{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    vertical-align: middle;
    background-size: contain;
    transform: translateY(0px);
    transition: transform 0.5s;
}

.header .mini-navigation-bar .projects{
    background-image: url(/Resources/Icons/coding.png);
}

.header .mini-navigation-bar .education{
    background-image: url(/Resources/Icons/graduation-cap.png);
}

.header .mini-navigation-bar .experience{
    background-image: url(/Resources/Icons/briefcase.png);
}

.header .mini-navigation-bar .contact{
    background-image: url(/Resources/Icons/email.png);
}

.sections{
    margin: -10px;
}

.sections .projects,
.sections .experience,
.sections .education,
.sections .contact{
    margin-top: 100px;
}

.sections .projects #title{
    text-align: center;
    animation: left_to_right 0.7s;
    background-color: #31373D;
    margin-bottom: 25px;
    padding: 10px;
}

.sections .projects #title span{
    font-size: 55px;
    color: #EBEAE6; 
    font-family: montserrat-regular;
}

.sections .projects .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sections .projects .container .card{
    background-color: #66514A;
    border-radius: 25px;
    width: 500px;
    height: 600px;
    margin: 20px;
    position: relative;
    transform: translateY(5px);
    transition: transform 0.3s ease-in-out 0s;
    animation: left_to_right 0.7s;
}

.sections .projects .container .card .header{
    display: flex;
}

.sections .projects .container .card .icon{
    background-size: cover;
    width: 135px;
    height: 135px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.sections .projects .container .card .title{
    height: 120px;
    width: 300px;
    margin-top: 5px;
    margin-left: 30px;
}

.sections .projects .container .card .title span{
    font-family: montserrat-thin;
    font-size: 60px;
    width: fit-content;
    color: #E6CDC4;
}

.sections .projects .container .card .description{
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
    margin-top: 10px;
}

.sections .projects .container .card .description a{
    color: black;
}

.sections .projects .container .card .source{
    width: 100%;
    height: 100px;
    background-color: #A29676;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    bottom: 0;
    text-align: center;
    display: table;
}

.sections .projects .container .card .source span{
    padding-left: -25px;
    transition: 0.2s;
    display: table-cell;
    vertical-align:middle;
    font-family: league-spartan;
    font-size: 20px;
}

.sections .projects .container .card .description span,
.sections .projects .container .card .description a{
    font-family: montserrat-regular;
}

.sections .projects .container #card_1 .description span{
    font-size: 21.18px;   
}

.sections .projects .container #card_2 .description span{
    font-size: 27px;
}

.sections .projects .container #card_3 .description span{
    font-size: 25px;
}

.sections .projects .container #card_4 .description span{
    font-size: 30px;
}

.sections .projects .container #card_5 .description span{
    font-size: 30px;
}

.sections .projects .container #card_6 .description span,
.sections .projects .container #card_6 .description a{ 
    font-size: 30px;
}

.sections .projects .container #card_7 .description span{  
    font-size: 27px;
}

.sections .projects .container #card_8 .description span{
    font-size: 27px;
}

.sections .projects .container #card_1 .icon{
    background-image: url('/Resources/Icons/PasswordManager.png');
}

.sections .projects .container #card_2 .icon{
    background-image: url('/Resources/Icons/WorkoutManager.png');
}

.sections .projects .container #card_3 .icon{
    background-image: url('/Resources/Icons/java.png');
}

.sections .projects .container #card_4 .icon{
    background-image: url('/Resources/Icons/python.png');
}

.sections .projects .container #card_5 .icon{
    background-image: url('/Resources/Icons/cyberpunk.png');
}

.sections .projects .container #card_6 .icon{
    background-image: url('/Resources/Icons/c-.png');
}

.sections .projects .container #card_7 .icon{
    background-image: url('/Resources/Icons/power-play.png');
}

.sections .projects .container #card_8 .icon{
    background-image: url('/Resources/Icons/freight-frenzy.png');
}

/* RESPONSIVE */
@media screen and (max-width: 1600px){
    .header .navigation-bar div{
        width: 230px;
        height: 70px;
    }
    
    .header .navigation-bar div span{
        line-height: 70px; 
        font-size: 19px;
    }
}

@media screen and (max-width: 1420px){
    .header .navigation-bar div{
        width: 210px;
        height: 65px;
    }
    
    .header .navigation-bar div span{
        line-height: 65px; 
        font-size: 18px;
    }
}

@media screen and (max-width: 1200px){
    .header .navigation-bar div{
        width: 190px;
        height: 60px;
    }
    
    .header .navigation-bar div span{
        line-height: 60px; 
        font-size: 17px;
    }
}

@media screen and (max-width: 1100px){
    .header .navigation-bar div{
        width: 170px;
        height: 55px;
    }
    
    .header .navigation-bar div span{
        line-height: 55px; 
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px){
    .header .text{
        margin-top: 50px;
        height: 170px;
    }

    .header .navigation-bar{
        display: block;
        width: fit-content;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .header .navigation-bar div{
        width: 75vw;
        height: 115px;
    }
    
    .header .navigation-bar div span{
        line-height: 115px; 
        font-size: 40px;
    }

    .header .mini-navigation-bar{
        width: 100vw;
        height: 200px;
        margin-top: 0px;
       border-radius: 50px;
    }

    .header .mini-navigation-bar div{
        width: 100px;
        height: 100px;
    }
    
    .header .text #name span{
        font-size: 80px;
    }

    .sections .projects #title{
        padding: 20px;
        margin-bottom: 50px;
    }
    
    .sections .projects #title span{
        font-size: 85px;
        color: #EBEAE6; 
        font-family: montserrat-regular;
    }
    
    .sections .projects .container .card{
        width: 80vw;
        height: 1200px;
    }

    .sections .projects .container .card .icon{
        width: 20vw;
        height: 20vw;
    }

    .sections .projects .container .card .title span{
        font-size: 9vw;
    }  

    .sections .projects .container .card .description{
        margin-top: 30px;
    }

    .sections .projects .container #card_1 .description span{
        font-size: 2.6em;   
    }
    
    .sections .projects .container #card_2 .description span{
        font-size: 3em; 
    }
    
    .sections .projects .container #card_3 .description span{
        font-size: 2.95em;
    }
    
    .sections .projects .container #card_4 .description span{
        font-size: 3.7em;
    }
    
    .sections .projects .container #card_5 .description span{
        font-size: 3.7em;
    }
    
    .sections .projects .container #card_6 .description span{ 
        font-size: 3.7em;
    }
    
    .sections .projects .container #card_6 .description a{
        font-size: 3.7em;
        color: black;
    }
    
    .sections .projects .container #card_7 .description span{  
        font-size: 3em;
    }
    
    .sections .projects .container #card_8 .description span{
        font-size: 3em;
    }

    .sections .projects .container .card .source{
        height: 200px;
    }
    
    .sections .projects .container .card .source span{
        font-size: 35px;
    }
}

@media screen and (max-width: 900px){
    .sections .projects .container #card_1 .description span{
        font-size: 2.38em;   
    }
}

@media screen and (max-width: 800px){
    .header .navigation-bar div span{
        line-height: 115px; 
        font-size: 32px;
    }

    .header .text #name span{
        font-size: 60px;
    }

    .sections .projects .container #card_1 .description span{
        font-size: 2.2em;   
    }

    .sections .projects .container #card_2 .description span{
        font-size: 2.6em; 
    }
    
    .sections .projects .container #card_3 .description span{
        font-size: 2.55em;
    }
    
    .sections .projects .container #card_4 .description span{
        font-size: 3.3em;
    }
    
    .sections .projects .container #card_5 .description span{
        font-size: 3.3em;
    }
    
    .sections .projects .container #card_6 .description span{ 
        font-size: 3.3em;
    }
    
    .sections .projects .container #card_6 .description a{
        font-size: 3.3em;
        color: black;
    }
    
    .sections .projects .container #card_7 .description span{  
        font-size: 2.6em;
    }
    
    .sections .projects .container #card_8 .description span{
        font-size: 2.6em;
    }
}

@media screen and (max-width: 640px){
    .header .navigation-bar div span{
        line-height: 115px; 
        font-size: 32px;
    }

    .header .text #name span{
        font-size: 60px;
    }

    .sections .projects .container .card .icon{
        height: 19vw;
    }

    .sections .projects .container #card_1 .description span{
        font-size: 1.9em;   
    }

    .sections .projects .container #card_2 .description span{
        font-size: 2.3em; 
    }
    
    .sections .projects .container #card_3 .description span{
        font-size: 2.25em;
    }
    
    .sections .projects .container #card_4 .description span{
        font-size: 3em;
    }
    
    .sections .projects .container #card_5 .description span{
        font-size: 3em;
    }
    
    .sections .projects .container #card_6 .description span{ 
        font-size: 3em;
    }
    
    .sections .projects .container #card_6 .description a{
        font-size: 3em;
        color: black;
    }
    
    .sections .projects .container #card_7 .description span{  
        font-size: 2.3em;
    }
    
    .sections .projects .container #card_8 .description span{
        font-size: 2.3em;
    }
}

/* ANIMATIONS */
@media (hover : none) {
    .header .navigation-bar div:hover{
        transition: transform 0.2s;
        background-color: #978b6e;
    }
    
    .sections .projects .container .card:hover{
        transition: transform 0.2s ease-in-out 0s;
    }
    
    .sections .projects .container .card .source:hover span{
        transition: 0.2s;
        background-color: #807558;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}

@media (hover : hover) {
    .header .navigation-bar div:hover{
        transform: translateY(-5px);
        transition: transform 0.2s;
        background-color: #978b6e;
    }

    .header .mini-navigation-bar div:hover{
        transform: translateY(-5px);
        transition: transform 0.2s ease-in-out 0s;
    }
    
    .sections .projects .container .card:hover{
        transform: translateY(-5px);
        transition: transform 0.2s ease-in-out 0s;
    }
    
    .sections .projects .container .card .source:hover span{
        padding-left: 25px;
        transition: 0.2s;
        background-color: #807558;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}

@keyframes opacity_increase {
    0% { 
        opacity: 0.1;
    }
    25% {
        opacity: 0.3;
    }
    50% { 
        opacity: 0.5;
    }
    75% { 
        opacity: 0.7;
    }
    100% { 
        opacity: 1;
    }
}

@keyframes opacity_decrease {
    0% { 
        opacity: 1;
    }
    25% {
        opacity: 0.7;
    }
    50% { 
        opacity: 0.5;
    }
    75% { 
        opacity: 0.3;
    }
    100% { 
        opacity: 0.1;
    }
}

@keyframes left_to_right {
    0% { 
        transform: translateX(-100px);  
    }
}

/* FONTS */
@font-face {
    font-family: anonymous;
    src: url(/Resources/Fonts/Anonymous\ Pro.ttf);
}

@font-face {
    font-family: league-spartan;
    src: url(/Resources/Fonts/LeagueSpartan-Bold.otf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(/Resources/Fonts/Montserrat-Bold.ttf);
}


@font-face {
    font-family: montserrat-thin;
    src: url(/Resources/Fonts/Montserrat-Thin.otf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(/Resources/Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(/Resources/Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: fira-code;
    src: url(/Resources/Fonts/FiraCode-VF.ttf);
}


