html{
    overflow: hidden;
}

html,body{
    min-height: 100%;
}

body{
    position: relative;
    height: 100%;
    background-color: #332123;
}

.header .text{
    width: fit-content;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.header .text #name span{
    color: #FDFAF3;
    font-size: 5.6vw;
    font-family: fira-code;
    pointer-events: none;
}

.header .navigation-bar{
    display: flex;
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.header .navigation-bar div{
    width: 250px;
    height: 75px;
    border-radius: 25px;
    background-color: #A29676;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transform: translateY(5px);
    transition: transform 0.2s ease-in-out 0s;
}

.header .navigation-bar div span{
    line-height: 75px; 
    vertical-align: middle;
    font-family: montserrat-regular;
    font-size: 20px;
    pointer-events: none;
}

.sections{
    margin: 0px;
}

.sections .projects{
    border: solid 1px white;
    height: 100px;
}

.sections .experience{
    border: solid 1px white;
    height: 100px;
}

.sections .education{
    border: solid 1px white;
    height: 100px;
}

.sections .contact{
    border: solid 1px white;
    height: 100px;
}


/* ANIMATIONS */
.header .navigation-bar div:hover{
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out 0s;
    background-color: #978b6e;
}


/* FONTS */
@font-face {
    font-family: anonymous;
    src: url(/Resources/Fonts/Anonymous\ Pro.ttf);
}

@font-face {
    font-family: league-spartan;
    src: url(/Resources/Fonts/LeagueSpartan-Bold.otf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(/Resources/Fonts/Montserrat-Bold.ttf);
}


@font-face {
    font-family: montserrat-thin;
    src: url(/Resources/Fonts/Montserrat-Thin.otf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(/Resources/Fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(/Resources/Fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: fira-code;
    src: url(/Resources/Fonts/FiraCode-VF.ttf);
}


/* RESPONSIVE */
@media screen and (max-width: 1600px){
    .header .navigation-bar div{
        width: 230px;
        height: 70px;
    }
    
    .header .navigation-bar div span{
        line-height: 70px; 
        font-size: 19px;
    }
}

@media screen and (max-width: 1420px){
    .header .navigation-bar div{
        width: 210px;
        height: 65px;
    }
    
    .header .navigation-bar div span{
        line-height: 65px; 
        font-size: 18px;
    }
}

@media screen and (max-width: 1200px){
    .header .navigation-bar div{
        width: 190px;
        height: 60px;
    }
    
    .header .navigation-bar div span{
        line-height: 60px; 
        font-size: 17px;
    }
}

@media screen and (max-width: 1100px){
    .header .navigation-bar div{
        width: 170px;
        height: 55px;
    }
    
    .header .navigation-bar div span{
        line-height: 55px; 
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px){
    .header .text{
        margin-top: 50px;
        height: 170px;
    }

    .header .navigation-bar{
        display: block;
        width: fit-content;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .header .navigation-bar div{
        width: 75vw;
        height: 115px;
    }
    
    .header .navigation-bar div span{
        line-height: 115px; 
        font-size: 40px;
    }
    .header .navigation-bar div:hover{
        transform: translateY(-1px);
        transition: transform 0.2s ease-in-out 0s;
        background-color: #978b6e;
    }
    .header .text #name span{
        font-size: 80px;
    }
    
}

@media screen and (max-width: 800px){
    .header .navigation-bar div span{
        line-height: 115px; 
        font-size: 32px;
    }
    .header .text #name span{
        font-size: 60px;
    }
}